.env
.env.local
# token files
*token*
.qwen
settings.conf
test_*.sh
*_test.sh
*__pycache__*
.serena/
build
*egg-info*
.neovate
*.log
dist
.crush/
.mcp.json
.venv
.claude/*
codebuddy_usage.md
.coverage
.codebuddy/
.cursor/
.gemini/
